* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "inter";
}
.dark-mode {
  background-color: black;
  color: white;
}
.container {
  width: 100%;
  height: 100%;
}
.container > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem 1rem 2rem;
}

.container h3 {
  font-weight: 700;
  font-size: 33px;
  line-height: 39.94px;
}

header {
  margin: 1rem 2rem 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 2rem;
  gap: 1rem;
}
#searchBar {
  min-height: 2rem;
  border: 1px solid rgb(203, 212, 222);
  border-radius: 5px;
  padding: 16px 24px 16px 24px;
}
#currency,
#anyLanguage,
#anyRegion {
  border: 2px solid rgb(203, 212, 222);
  border-radius: 5px;
  height: 50px;
  min-width: 340px;
  font-weight: 400;
  padding: 16px 24px 15px 24px;
}
main {
  height: 100%;
  margin: 2rem 2rem 1rem 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
main div img {
  width: 90%;
  height: 80%;
}
main div {
  width: 19%;
  display: flex;
  border: 1px solid #eee4e4;
  border-radius: 8px;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  margin-bottom: 1rem;
}
main div h2 {
  font-weight: 500;
  size: 0.7rem;
  margin: 1rem 0px 1rem 0px;
}
main div p {
  margin: 4px 0px 4px 0px;
  font-weight: 400;
}
